@import 'var';
@import  'module';



body {
    padding: 90px;
    font-size: $font-size;
    color: $color;
    margin: $margin;
    background-color: map-get($bgcolor, 'blue');
    * {
       box-sizing: border-box; 
    }


}

