@import 'base/var';
@import 'modules/module';
@import 'mixins/mixin';
@import 'page/index';
@import 'page/aboutus';
// @import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


/*--bootstrap end --*/

//function


.box {
    @include rect(300px);
    @include marginAuto();
}

.box-1 {
    @include rect(200px);
    @include marginAuto()
}

@mixin rects($w , $h , $bgc){
    width: $w;
    height: $h;
    background-color: $bgc;
}


.box-4 {
    @include opacity(70); 
    @include rects(100px , 200px , #333);
 }

@mixin btn($w , $h , $bordercolor , $bgc , $borderRadius:null ){
    padding-top:$h;
    padding-bottom:$h;
    padding-left: $w;
    padding-right: $w;
    text-align: center;
    border: 1px solid $bordercolor;
   outline: springgreen;
  border-radius: $borderRadius;
  background-color: $bgc ;
} 



.btn {
   @include btn(3px , 5px ,#333 , #f20 ,5px)
}

.btn-w {
   @include btn(10px , 3px, #999 , rgb(255, 204, 0))
}















body {
    padding: 90px;
    font-size: $font-size;
    color: $color;
    margin: $margin;
    background-color: map-get($bgcolor, 'blue');

    * {
        box-sizing: border-box;
    }

    .container {
        width: 100vw;
        height: 100vh; //高度

        h1 {
            font-size: $font-size;
            /*----*/
        }

        .content {
            width: 80%;

            .sidebar {
                width: 30%;
            }
        }
    }
}