@import 'base/var';
@import 'mixins/mixin';
@import 'modules/module';
@import 'page/index';
@import 'page/aboutus';
@import 'layout/header';
@import 'layout/footer';
@import 'rwd/desktop';
@import 'rwd/medium';
@import 'rwd/small';


// @import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


/*--bootstrap end --*/

//function


.box {
    @include rect(300px);
    @include marginAuto();
}

.box-1 {
    @include rect(200px);
    @include marginAuto()
}




.box-4 {
    @include opacity(70);
    @include rects(100px, 200px, #333);
}

$a1 : 300px;
$a1 : 100px !default;

.a1 {
    width: $a1;
}




.btn {
    @include btn(3px, 5px, #333, #f20, 5px);
}

.btn-w {
    @include btn(10px, 3px, #999, rgb(255, 204, 0))
}

//預設值
@mixin rectall($w:300px, $h:300px) {
    width: $w;
    height: $h;
}

.rect {
    @include rectall(400px, 200px);
}

body {
    padding: 90px;
    font-size: $font-size;
    color: $color;
    margin: $margin;
    background-color: map-get($bgcolor, 'blue');

    * {
        box-sizing: border-box;
    }

    .container {
        width: 100vw;
        height: 100vh; //高度

        h1 {
            font-size: $font-size;
            /*----*/
        }

        .content {
            width: 80%;

            .sidebar {
                width: 30%;
            }
        }
    }
}


// 繼承
.red {
    color: red;
    background-color: red;
}

.blue {
    color: blue;
    background-color: blue;
}

.boxblue {
    width: 100px;
    height: 300px;
    @extend .blue;
}

.boxRed {
    width: 300px;
    height: 400px;
    @extend .red;
}


.bb {
    width: 100px + 100;
    height: 100px - 20px;
    margin: 10px * 10;
    font: (100 / 20) + px; //除法要括號
}

.cc {
    width: ceil(78.95px); //無條件進位
    height: round(67.45px); // 四捨五入
    padding: floor(56.34px); //無條件捨去
}



@include fontSize(15px);

@for $i from 1 through 10 {

    //數值轉字串 
    .dot-#{$i} {
        width: $i * 1px;
    }
}



@include grid(24);



$a: 10px;

body {
    @if $a {
        .box {
            margin: $a;
        }
    }

    padding: 10px;
}





.wrapper {
    width: 1200px;
    @include marginAuto();
    @include text(medium);
}


@mixin boxs() {
    color: #fff;
    @content;
}



.blues {
    @include boxs() {
        span {
            font-size: 100px;
            width: 100px;
        }
    }
}

// list
// $imgbg : a1 a2 a3 boxer ig avator; //list

@mixin img_bg($img-map) {
    @each $img in $img-map {
        .#{$img}-photo {
            background-image: url('./images/#{$img}.jpg');
            background-size: cover;
            @content;
        }
    }
}

@include img_bg(a1 a2){
   width:100%;
   height: 300px; 
};

@include img_bg(b1 b2){
    width:100%;
    height: 600px; 
 };


 @include img_bg(c1 c2 c3){
    width:100%;
   
 };






































// .col-md-1 {
//  width: 8.3333% ;
// }

// .col-md-2 {
//     width: 16.666% ;
//    }