@import 'base/var';
@import 'modules/module';
@import 'mixins/mixin';
@import 'page/index';
@import 'page/aboutus';
@import 'layout/header';
@import 'layout/footer';
// @import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


/*--bootstrap end --*/

//function


.box {
    @include rect(300px);
    @include marginAuto();
}

.box-1 {
    @include rect(200px);
    @include marginAuto()
}




.box-4 {
    @include opacity(70); 
    @include rects(100px , 200px , #333);
 }

$a1 : 300px;
$a1 : 100px !default;

.a1 {
   width: $a1; 
}




.btn {
   @include btn(3px , 5px ,#333 , #f20 ,5px); 
}
.btn-w {
   @include btn(10px , 3px, #999 , rgb(255, 204, 0))
}

//預設值
@mixin rectall($w:300px  , $h:300px) {
   width: $w;
   height:  $h;
}




.rect {
   @include rectall(400px , 200px);
}













body {
    padding: 90px;
    font-size: $font-size;
    color: $color;
    margin: $margin;
    background-color: map-get($bgcolor, 'blue');

    * {
        box-sizing: border-box;
    }

    .container {
        width: 100vw;
        height: 100vh; //高度

        h1 {
            font-size: $font-size;
            /*----*/
        }

        .content {
            width: 80%;

            .sidebar {
                width: 30%;
            }
        }
    }
}