body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.box {
    width: 80px;
    height: 80px;
    background-color: #00ffaa;
    border-radius: 6px;
}


.box01 {
   position: relative;
   top: 50px;
   left: 300px
}
.box03 {
    position: relative;
    border-radius: 20px;
    top: 50px;
    left: 300px;
    /* width: 300px; */
 }

/* .box04 {
    opacity: 0;
}  */

section {
   width: 100vw;
   height: 100vh;
}

/* #key01 {
    position: relative;
    top: 150px
} */

.section02 , .section04 , .section06  ,.section08{
    background-color: rgb(218, 218, 218);
}

#scoreDisplay {
	font-size: 40px;
	text-align: center;
	margin-top: 70px;
}


.section03.on {
    transition: all .8s ease-in-out;
    background-color: rgb(255, 136, 0);
}

.text {
    font-size: 30px;
    font-weight: 700;
}

.e1 {position: relative; top: 100px ; left: 400px}
.e2 {position: relative; top: 50px ; left: 300px}
.e3 {position: relative; top: 300px ; left: 400px}


.nav li {
    color: #fff
}

.space {
    height: 100px;
    background-color: rgb(142, 204, 255);
    margin-bottom: 10px;
}
.OnRed {
    color: red !important
}


.scroll01 {
    position: relative;
    top: 400px
}

/* .section04{} */