@mixin opacity($opacity) {
    $opacity-ie: ($opacity * 100); // IE8 filter
    filter: alpha(opacity=$opacity-ie);
    opacity: $opacity;
}

//沒有帶值
@mixin marginAuto() {
    margin-left: auto;
    margin-right: auto;
}

//有帶一個值
@mixin rect($w) {
    width: $w * 2;
    height: $w;
}

//帶多值
@mixin rects($w, $h, $bgc) {
    width: $w;
    height: $h;
    background-color: $bgc;
}

//空值
@mixin btn($w, $h, $bordercolor, $bgc, $borderRadius:null) {
    padding: $h $w;
    text-align: center;
    border: 1px solid $bordercolor;
    outline: springgreen;
    border-radius: $borderRadius;
    background-color: $bgc;

    //偽元素
    &:hover {
        //    background-color: darken($bgc, 10);//顏色函式ㄋ
        background-color: lighten($bgc, 20); //顏色函式ㄋ
    }
}


@mixin grid($col) {
    @for $i from 1 through $col {
        .col-md-#{$i} {
          width: ($i /$col) * 100%;
        }
     }
}

@mixin fontSize($font-base-size) {
    h1 {
        font-size: ceil($font-base-size * 4.2);
    }

    h2 {
        font-size: ceil($font-base-size * 3.8);
    }

    h3 {
        font-size: ceil($font-base-size * 2.5);
    }

    h4 {
        font-size: ceil($font-base-size * 1.5);
    }

    h5 {
        font-size: ceil($font-base-size * 1.2);
    }
}


@mixin grid($col) {
    @for $i from 1 through $col {
        .col-md-#{$i} {
            width: ($i /$col) * 100%;
        }
    }
}


//==
//==
@mixin rwd($b) {
    @if $b == desktop { 
       @media all and (min-width : $desktop ) {
          @content;
       }
    }
    @else if $b == medium  {
      @media all and (min-width :$medium) {
          @content;
      }
    }
    @else if $b == small {
      @media all and (min-width : $small) {
          @content;
      }
    }
  }


//=====
// @include text(字體粗細  bold/ medium/ lighter)
//=====  

  @mixin text($wegiht) {
    font-size: 16px;
    color: #000;

    @if $wegiht==bold {
        font-weight: bold;
    }

    @else if $wegiht==medium {
        font-weight: 400;
    }

    @else if $wegiht==lighter {
        font-weight: 100;
    }
}  







